
.Bord
{
    background-color: white;
    padding: 5px;
    margin-bottom: 2%;
}
.Reqcard
{
    margin: 0%;
    background-color: white;
    flex-grow: 90;
    border-radius: 2%;
    
}
.top
{width: auto;
display: flex;
background-color: black;
}
.url
{
    padding: 10px;
background-color: black;
overflow: hidden;
height: auto;
color:white;
word-break: break-all;
flex-grow: 100;
}
.type
{
    background-color: grey;
    padding :12px;
    width: auto;
    height:100%;
    font-size: 30px;
    color: white;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
.content
{    background-color: red;
     font-size: 20px;
     padding: 20px;
     color: white;
}
.closebtn
{   background-color: red;
    height: 60px;
    width: 60px;
    min-width: 40px;
    color: white;
    font-size: 40px;
    border-radius: 60px;
    
}
.plus
{   
    position: -webkit-sticky; /* Safari */
  position: sticky;
  bottom: 5%;
    width: 50px;
    height: 50px;
   float: right;
    margin-right:5%;
}
.auto1
{
    display:none;
}
.plus
{
    cursor: pointer;
    
}