.Left
{
background-color: black;
min-width: 15%;
max-width:40%;
width:25%;
height: 100%;
color: white;

overflow-x: NONE;
overflow-y:auto;

}
.Left::before
{   content: '';
    background-color: grey;
    position: absolute;
    left:var(--pseudo);
    width: 4px;
    height: 100%;
    cursor: ew-resize;
   
} 
.Page
{width:100vw;
height:100vh;
display: flex;
}
.Right
{
   
    height: auto;
    flex-grow: 100;
   overflow: hidden;
    background-color: rgb(225,225,225);
}
.navbar
{
   background-color: greenyellow ;
    padding: 20px 50px 20px 60px;
    height:10%;
    width:100%;
    font-size: 25px;
}
.btn2
{
    float: right;
    position: relative;
    top:-12px;
    padding: 15px 40px 15px 40px;
    background-color:black;
    border-radius: 10px;
    font-size: 20px;
    color:white;
    cursor: pointer;
}
.btn3
{
    float: right;
    position: relative;
    top:-12px;
    padding: 15px 40px 15px 40px;
    background-color:blue;
    border-radius: 10px;
    font-size: 20px;
    color:white;
    cursor: pointer;
    margin-right: 5%;
}