.NewReq
{

flex-grow: 100;
padding: 30px;
}
.btn4
{
    background-color: black;
    color: white;
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    
}
.reqform
{
    text-align: center;
    align-items: center;
}
.radbtn input {
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  display: flex;
  width: 100px;
  height: 50px;
  border: 1px solid #CCC;
  padding: 0;
  cursor: pointer;
}
.radbtn input[type="radio"] {
    display :none;
}
.radbtn
{
    display: flex;
    position: relative;
    top:-50px;
}

.radbtn label:hover {
  background: red;
  color: white;
  border-width: 10px;
  border-color: yellow;
  cursor: pointer;
}
.radbtn label
{
  background-color: aliceblue;
}
.radbtn input[type="radio"]:checked + label {
  background: yellow;
}
#GET {

  margin: 20px;
  padding: 10px;
  left: 385px;
  font-size: 30px;
  

}
#POST {
  
  margin: 20px;
  padding: 10px;
 left: 485px;
 font-size: 30px;
 
}
#PUT {
  
  margin: 20px;
  padding: 10px;
  left:575px;
  font-size: 30px;
}
#DELETE {
  
  margin: 20px;
  padding: 10px;
  left:680px;
  font-size: 30px;
}
.extra
{
  position: absolute;
  top:95px;
  left: 1000px;;
}
.URL
{background-color: grey;
color: black;
padding: 13px;
font-size: 30px;
height: 68px;
position: relative;
top:2px;
}
.link
{
  padding: 10px;
  height: 65px;
  background-color: red;
  font-size: 30px;
  
}
.Body
{
  width: 80%;
  height: 150px;
  font-size: 30px;
  margin: 0;

}
.usertoken
{margin: 5%;
  width: 80%;
  height: 100px;
  font-size: 30px;
}
.btnlist
{
  display: none;
}
.savebtn
{
  background-color: blue;
  color: white;
  font-size: 30px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-left:7%;
  margin-right:7%;
}
.delbtn
{
  background-color:gold;
  color: white;
  font-size: 30px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-left:7%;
  margin-right:7%;
}
.runbtn
{
  background-color:blue;
  color: white;
  font-size: 30px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-left:7%;
  margin-right:7%;
}